html {
	background-color:bisque;
	
}

body {
	width: 900px;
	padding: 86px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
		
}

body {
	text-align: right;
	
	font-family:  sans-serif;
}

body {
	border: 4px solid maroon;
	
	background-color: salmon;

}

a{
	font-size: 12pt;
	
	color: sienna;
		
	text-decoration: none;
}

a:hover{
	color:goldenrod;
}

h1{
	font-size: 46pt;
	
	color:#000;
	
	border-top: 3px dashed green;
	
	border-bottom: 3px dashed green;
	

	
}

p{
	font-size: 12pt;
		
		line-height: 14pt;
}

